.dart_tool/
.build/
build/
.android/
.ios/
.macos/
.linux/
.windows/
.web/
*.iml
.idea/
.vscode/
*.lock
*.tar.xz
*.tar.gz
!.gitkeep
.DS_Store
Thumbs.db
*.apk
*.aab
*.jks
*.keystore
local.properties
.github_token
google-services.json
